<!DOCTYPE html>
<html>
<head>

    <title>Othello game using reinforcement learning</title>
    <meta name = "description" content = "Othello game using reinforcement learning">
    <meta name = "robots" content = "index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css location -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sharedstatic1.css')}}">
</head>

<body >
    <H1>OTHELLO</P></H1>
    <!-- BOARD -->
    <header id="messages">
       
        <div id="message1box">
            <div id="message1"> Choose your player&nbsp;&nbsp;  
        </div>        

        <div id="chooseplayer">
                <button id="BLACK" class="" onclick="game.startGame(this.id)">
                <div class="disk blackdisk"></div>
                </button>
                <button id="WHITE" class="" onclick="game.startGame(this.id)" >
                    <div class="disk whitedisk"></div>
                </button>
            </div>
        </div>
        <p id="message2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Black plays first</p>
    </header>
    <div id="container">
        
    <!-- loop to build the board from size  -->
    <div id="board"> 
    <table>
        {% for row in range(4) %}
        <tr>
            {% for col in range(4) %}
            <td>
            <div class='cell'>
            <div id="{{row}}{{col}}" class=""></div>
            </div>
        </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

    </div>
    <div id="tbcont_othello" class = "textboxcontainer">
    <section id = notes class="textbox">
        <p>blah</p>
        <br><br><br>
    
        <p>How does it work?<br><br>
        blah blah blah</p>

        
        
    
        </p>
    </section>
</div>

   
    <script src="{{ url_for('static', filename='othelloscript.js') }}"></script>
</body>
</html>
<style>
 
   
</style>
